@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
@import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css);

:root {
  font-size: 16px;
  font-family: Source Code Pro;
  --text-primary: #bbbbbb;
  --text-secondary: #cccccc;
  --bg-primary: #202020;
  --bg-secondary: #752734;
  --transition-speed: 600ms;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--text-primary);
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navBar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-secondary);
  transition: width 200ms ease;
}

.navBar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) contrast(100) opacity(1);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-primary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
  color: var(--text-secondary);
}

.nav-link i {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navBar:hover {
  width: 16rem;
}

.navBar:hover .link-text {
  display: block;
}

.fa-anchor {
  color: var(--bg-secondary);
}

.fa-anchor {
  transition: var(--transition-speed);
}
